table{
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
}
td{
	text-align:center;
	height:40px;
	padding:5px;
	text-align:center;
	vertical-align:top;
}
.anco{
	background-color: #E6E6FA;
}
.hov:hover{
	background-color:grey;
}